.App {
  text-align: center;
  /* background-image: url("e-comm.jpeg"); */
  /* background-color: #cccccc; */

  /* display: flex; */
  justify-content: center;
  /* border: 1px solid; */
}
.login {
  display: flex;
  /* border: 1px solid; */
  padding-top: 10px;
  margin-top: 17%;
  margin-right: 28%;
  background-color: azure;
  border-radius: 22px;
  margin-left: 28%;
  justify-content: center;
}
.ant-input-affix-wrapper{
  display: flex;
  border: 1px solid ;
  border-radius: 25px !important;
}
h3 {
  height: 160px;
  color: rgb(255, 255, 255);
  line-height: 160px;
}
.slick-track{
  display: flex;
}
.ant-btn-primary{
  display: flex;
  margin-top: 4px;
  margin-left: 5px;
}
/* .ant-btn{
  display: flex;
} */ */
.site-card-border-less-wrapper {
  margin-top: 1%;
  padding: 30px;
  background: #ececec;
}
/* .cardpage{
  background-image: url('e-comm.jpeg');
  position: fixed;
} */
.anticon {
  display: flex;
  font-size: 16px;
  color: blueviolet;
  margin-bottom: 1%;
}
.ant-carousel-vertical {
width: 50% !important;
justify-content: center;
}
.card{
  display: flex;
  background: #ececec;
}
.item{
  display: block;
  width: 103%;
  padding-left: 37px;
  margin-left: 25%;
  margin-bottom: 60px;
}
.row{
  display: flex;
}
.cardpage{
  background-color: azure;
  /* display: flex; */
}
.title{
  display: flex;
  padding-top: 9px;
  padding-left: 12px;
}
.carousal{
  display: flex;
  /* justify-content: center; */
  /* border: 1px solid; */
}
.input{
  display:flex;
}
.photos{
  /* display: flex; */
  /* border: 1px solid; */
  flex-direction: column;
}
.leftphoto{
  display: flex;
  justify-content: center;
}
.leftphoto p{
  display: flex;
  height: 73px;
  justify-content: center;
  cursor: pointer;
}
.leftphoto h2:hover{
  box-shadow: 20px, 20px 4px red;
}
.photos p:hover{
  opacity: 0.5;
  box-shadow: 20px 20px 4px red; 
}
.photo{
  display: flex;
}
.photo h2{
  display: flex;
  width: 233px;
  height: 233px;
  background:transparent;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
